.author {
  font-weight: bold;
  font-size: 1.1rem;
  margin: 2rem 0 1rem;
}

.affiliation {
  font-size: 1.1rem;
  margin: 1rem 0 2rem;
}

.footnote {
  margin: 3rem 0 0;
}

.cite {
  color: #666;
  font-size: 0.75rem;
  text-align: right;
}

.column-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.column {
  flex: 1 1 100%;
  margin: 0 0.5rem;

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }
}
