@font-face {
  font-family: "Yu Gothic Medium";
  src: local("Yu Gothic Medium");
  font-weight: normal;
}

@font-face {
  font-family: "Yu Gothic Medium";
  src: local("Yu Gothic Bold");
  font-weight: bold;
}

a {
  color: #0042ab;
  text-decoration: none;

  &:hover {
    opacity: 0.86;
    text-decoration: underline;
  }
}

h1,
h2,
h3 {
  font-family: $heading-font-family;
  font-weight: bold;
  color: $heading-color;
}

h1 {
  font-size: 1.4rem;
  margin: 2rem 0 2.4rem;
}

h2 {
  font-size: 1.4rem;
  margin: 0 -1.6rem 0.4rem;
  padding: 0.4rem 0.7rem;
  border-left: 0.9rem solid #ccc;
}

h3 {
  font-size: 1.3rem;
  margin: 1.2rem 0;
}

p {
  margin: 0.8rem 0;
}

ol {
  margin: 0.8rem 0;
  padding-left: 1.5rem;
}

ul {
  margin: 0.8rem 0;
  padding-left: 1.3rem;

  &.task-list {
    list-style-type: none;
    padding-left: 0;

    ul.task-list {
      padding-left: 1rem;
    }
  }
}

li {
  margin-bottom: 0.4rem;
}

dt {
  font-weight: bold;
  margin: 0.5rem 0 0 0;
}

dd {
  margin: 0 0 0 1rem;
}

blockquote {
  font-style: italic;
  margin: 1rem 3px;
  padding: 6px 36px 1px;
  border-left: solid 5px #ccc;
  position: relative;

  &::before {
    content: "“";
    position: absolute;
    top: -8px;
    left: 8px;
    font-size: 2.4rem;
    font-family: $serif;
    color: #999;
  }
}

figure {
  display: inline-block;
  position: relative;
}

figcaption {
  position: absolute;
  right: 0;
}

em {
  font-style: italic;
}

pre,
code,
kbd {
  font-family: $monospace;
}

code {
  background-color: #f7f7f7;
  background-color: rgba(0, 0, 0, 0.05);
  padding: 2px 4px;
  font-size: 0.87em;
}

pre {
  background-color: #f3f3f3;
  padding: 0.5rem;
  margin: -0.6rem 0 0.6rem;
  font-size: 0.9rem;
  line-height: 1.2;
  overflow-x: auto;

  code {
    background: none;
    padding: 0;
  }

  &.chroma {
    background-color: #e3e3e3;
    margin-top: 0.2rem;
  }
}

kbd {
  display: inline-block;
  vertical-align: middle;
  font-size: 0.75rem;
  padding: 1px 4px;
  margin: -4px 2px 0 0;
  box-shadow: 1px 1px 1px #808080;
  border: solid 1px #ccc;
  border-radius: 3px;
}
