h1 {
  font-size: 1.4rem;
  margin: 2rem 0 2.4rem;
}

h2 {
  font-size: 1.4rem;
  margin: 0 -1.6rem;
  padding: 0.4rem 0.7rem;
  border-left: 0.9rem solid #ccc;
}

h3 {
  font-size: 1.3rem;
  margin: 1.2rem 0;
}
