html {
  font-size: 150%;
}

pre,
code,
kbd {
  font-family: "Ubuntu Mono", "DejaVu Sans Mono", Menlo, Consolas, monospace;
}

.reveal {
  h1 {
    margin: 3rem 0 4rem;
  }

  h2 {
    margin: 0 0 2rem;
  }

  p {
    margin: 1rem 0;
  }

  .slide-background {
    background-color: #ddd;
  }

  .slides {
    background-color: $backgroundColor;
    text-align: left;

    section {
      box-sizing: border-box;
      padding: 2rem;
      width: inherit;
      height: 100%;
    }
  }

  .author {
    font-weight: bold;
    font-size: 1.2rem;
  }

  .affiliation {
    font-size: 1.1rem;
  }

  .footnote {
    position: absolute;
    bottom: 1rem;
  }
}
