$serif: Palatino, Merriweather, serif;
$sans-serif: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", Helvetica, "Yu Gothic", sans-serif;
$monospace: "Ubuntu Mono", "DejaVu Sans Mono", Menlo, Consolas, monospace;

$main-font-family: $serif;
$heading-font-family: $serif;

$background-color: #fff;
$main-color: #444;
$heading-color: $main-color;
