@charset "utf-8";

@import "variable";
@import "chroma";
@import "common";
@import "slide";
@import "class";

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  background-color: #ddd;
  color: $main-color;
  margin: 0;
  line-height: 1.4;
  font-family: $main-font-family;
}

main {
  background-color: $background-color;
  max-width: 720px;
  min-height: 100%;
  margin: 0 auto;
  padding: 3rem;
}

hr {
  margin: 2rem;
}
