@charset "utf-8";

@import "variable";
@import "chroma";
@import "common";
@import "class";

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  background-color: #ddd;
  margin: 0;
}

main {
  background-color: $background-color;
  max-width: 800px;
  min-height: 100%;
  margin: 0 auto;
  padding: 3rem;
}

hr {
  margin: 3rem;
}
