@charset "utf-8";

@import "variable";
@import "common";
@import "class";

* {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 80%;
}

body {
  width: 1000px;
  min-width: 1000px;
  margin: 0 auto;
  padding: 2rem;
  line-height: 1.4;
  font-family: $main-font-family;
  font-weight: normal;
  color: $main-color;
  background-color: #ddd;
}

section {
  background-color: $background-color;
  box-shadow: 0 0.2rem 1.2rem rgba(0, 0, 0, 0.25);
  padding: 1rem;
  margin-bottom: 1.5rem;
}

h1 {
  margin: 0;
  font-size: 2rem;
}

h2 {
  margin: 0 0 0.5rem;
}

h3 {
  margin: 0 0 0.5rem;
}

.column {
  flex: 1 1 100%;
  margin: 0 0.75rem;

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }
}
