@charset "utf-8";

@import "variable";
@import "common";
@import "class";

* {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 80%;
}

body {
  width: 1000px;
  min-width: 1000px;
  margin: 0 auto;
  padding: 1rem;
  line-height: 1.4;
  font-family: $main-font-family;
  font-weight: normal;
  color: $main-color;
  background-color: #fff;
}

section {
  background-color: $background-color;
  box-shadow: 0 0.2rem 1.2rem rgba(0, 0, 0, 0.4);
  padding: 1rem;
  margin: 0.8rem;
}

h1 {
  margin: 0 0 0.5rem;
  font-size: 2rem;
}

h2 {
  font-size: 1.4rem;
  margin: 0 0 0.5rem;
}

h3 {
  font-size: 1.3rem;
  margin: 0 0 0.5rem;
}

ul {
  margin: 0.5rem 0;
}

dl {
  margin: 0;
}

dt:first-child {
  margin-top: 0;
}

dd {
  margin: 0;
}

.column {
  flex: 1 1 100%;
  margin: 0 0.75rem;

  &:last-child {
    margin-right: 0;
  }
}

.section-column {
  margin: 0;
  display: flex;
  flex-direction: column;
}

p:last-child,
ul:last-child {
  margin-bottom: 0;
}

.img-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;

  & > div {
    flex: 1 1 0;
  }

  & > div > img {
    width: 100%;
  }
}
