@charset "utf-8";

$serif: Palatino, Merriweather, serif;
$sans-serif: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", Helvetica, "Yu Gothic", sans-serif;
$monospace: "Ubuntu Mono", "DejaVu Sans Mono", Menlo, Consolas, monospace;

$main-font-family: $serif;
$heading-font-family: $serif;

$background-color: #fff;
$main-color: #444;
$heading-color: $main-color;

html {
  font-size: 160%;
}

body {
  background-color: #ddd;
  line-height: unset;
}

a {
  color: #0042ab;
  text-decoration: none;
}

.present {
  overflow-y: scroll;
}

.reveal {
  font-family: $main-font-family;
  font-weight: normal;
  color: $main-color;

  h1,
  h2,
  h3 {
    font-family: $heading-font-family;
    font-weight: bold;
    color: $heading-color;
  }

  h1 {
    font-size: 1.4rem;
    margin: 3rem 0;
  }

  h2 {
    font-size: 1.4rem;
    margin: 1.5rem 0;
  }

  h3 {
    font-size: 1.4rem;
    margin: 1.2rem 0 0;
  }

  ul {
    margin: 0.8rem 0;
    padding-left: 1rem;

    &.task-list {
      list-style-type: none;
      padding-left: 0;

      ul.task-list {
        padding-left: 1rem;
      }
    }
  }

  li {
    margin-bottom: 0.5rem;
  }

  dt {
    font-weight: bold;
  }

  pre,
  code,
  kbd {
    font-family: $monospace;
  }

  p {
    margin: 1rem 0;
  }

  strong {
    font-weight: bold;
  }

  .slides {
    background-color: $background-color;
    text-align: left;

    section {
      box-sizing: border-box;
      padding: 0 2rem;
      width: inherit;
      height: 100%;
    }
  }
}

@import "class";
@import "chroma";
