@charset "utf-8";

@import "variable";
@import "chroma";
@import "common";
@import "class";

html {
  font-size: 160%;
}

body {
  line-height: 1.56;
  font-family: $main-font-family;
  color: $main-color;
  background-color: #ddd;
}

section {
  background-color: $background-color;
  box-sizing: border-box;
  padding: 0 1.6rem;
  height: 100%;
  overflow-y: scroll;
}

.reveal {
  .slides {
    text-align: left;

    section {
      padding: 0 1.6rem;
    }
  }
}
