.author {
  font-weight: bold;
  font-size: 1.1rem;
  margin: 2rem 0 1rem;
}

.affiliation {
  font-size: 1.1rem;
  margin: 1rem 0 2rem;
}

.footnote {
  margin: 3rem 0 0;
}

.current-deck {
  font-weight: bold;

  &::after {
    content: "👈";
  }
}

.github {
  color: $main-color;
}

.facebook {
  color: #3b5998;
}

.twitter {
  color: #1da1f2;
}

.url {
  color: #777;
  font-size: 0.45rem;

  a {
    color: inherit;
  }
}

.readmore {
  padding: 8px 48px 8px 20px;
  border-radius: 4px;
  font-weight: normal;
  color: #fff;
  background-color: #aaa;
  position: relative;

  &:hover {
    background-color: $main-color;
    text-decoration: none;
  }

  &::after {
    content: "❯";
    position: absolute;
    right: 12px;
    color: #fff;
  }
}

.screenshot {
  margin: -24px -30px;
}

.column-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.column {
  flex: 1 1 100%;
  margin: 0 0.5rem;

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }
}

.katex {
  font-size: 1.12em;
}

.katex-display > .katex {
  text-align: left;
  padding-left: 2rem;
}
