@forward "common/bubble";
@forward "common/chroma";
@forward "common/readmore";
@use "common/color";

section:first-of-type {
  h1 a {
    color: var(--canvas-text);
  }

  ol li {
    margin-block: 0;
  }
}

.author {
  font-weight: bold;
  font-size: 1.1rem;
  margin: 1rem 0 0.3rem;
}

.affiliation {
  font-size: 0.9rem;
  margin: 0.3rem 0 1rem;
  opacity: 0.75;
}

.footnote {
  margin: 1rem 0;
}

.current-deck {
  font-weight: bold;

  &::after {
    content: "👈";
  }
}

.url {
  color: #777;
  font-size: 0.45rem;

  a {
    color: inherit;
  }
}

.screenshot {
  margin: -24px -30px;
}

.column-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: 0.5rem;
}

.column {
  flex: 1 1 100%;
}
