section:first-of-type {
  h1 a {
    color: var(--heading-color);
  }

  ol li {
    margin-block: 0;
  }
}

.author {
  font-weight: bold;
  font-size: 1.1rem;
  margin: 1rem 0 0.3rem;
}

.affiliation {
  font-size: 0.9rem;
  margin: 0.3rem 0 1rem;
  opacity: 0.75;
}

.footnote {
  margin: 1rem 0;
}

.current-deck {
  font-weight: bold;

  &::after {
    content: "👈";
  }
}

.github {
  color: var(--main-color);
}

.facebook {
  color: #3b5998;
}

.twitter {
  color: #1da1f2;
}

.url {
  color: #777;
  font-size: 0.45rem;

  a {
    color: inherit;
  }
}

.readmore {
  padding: 8px 48px 8px 20px;
  border-radius: 4px;
  font-weight: normal;
  color: #fff;
  background-color: #aaa;
  position: relative;

  &:hover {
    background-color: var(--main-color);
    text-decoration: none;
  }

  &::after {
    content: "❯";
    position: absolute;
    right: 12px;
    color: #fff;
  }
}

.screenshot {
  margin: -24px -30px;
}

.column-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: 0.5rem;
}

.column {
  flex: 1 1 100%;
}

.katex {
  font-size: 1.12em;
}

.katex-display > .katex {
  text-align: left;
  padding-inline-start: 2rem;
}
