@forward "common/color";
@forward "common/element";

h1,
h2,
h3 {
  font-weight: 600;
}

p {
  margin-block: 0.7em;
}

ol {
  padding-inline-start: 1.5em;
}

ul {
  padding-inline-start: 1.3em;
}

li {
  margin-block: 0.5em;
  li, p {
    margin-block: 0.4em;
  }
}

cite {
  color: #777;
  font-size: 0.7rem;

  a {
    color: inherit;
  }
}

figure {
  width: fit-content;
  margin-inline: 0;
  margin-block: 0.5rem;
  line-height: 1;
}

figcaption {
  text-align: right;
}

em {
  font-style: italic;
}

pre {
  font-size: 0.78em;
  line-height: 1.35;
  &.chroma {
    line-height: 1.4;
  }
}

aside {
  opacity: 0.5;
}
