@forward "common/color";
@forward "common/element";

h1,
h2,
h3 {
  font-weight: bold;
}

p {
  margin-block: 0.7em;
}

ol {
  padding-inline-start: 1.5em;
}

ul {
  padding-inline-start: 1.3em;
}

li {
  margin-block: 0.5em;
  li, p {
    margin-block: 0.4em;
  }
}

table {
  border-spacing: 1em 1ex;

  thead th {
    border-bottom: 0.05rem solid var(--canvas-text);
  }
}

cite {
  color: #777;
  font-size: 0.7rem;

  a {
    color: inherit;
  }
}

figure {
  display: inline-block;
  margin: 1rem 0;
  line-height: 1;
}

figcaption {
  text-align: right;
}

em {
  font-style: italic;
}

pre {
  font-size: 0.78em;
  line-height: 1.35;
  &.chroma {
    line-height: 1.4;
  }
}

aside {
  opacity: 0.5;
}
