@forward "common/color";
@forward "common/element";

h1,
h2,
h3 {
  font-weight: bold;
}

p {
  margin: 0.7rem 0;
}

ol {
  margin: 0.7rem 0;
  padding-inline-start: 1.5rem;
}

ul {
  margin: 0.7rem 0;
  padding-inline-start: 1.3rem;

  &.task-list {
    list-style-type: none;
    padding-inline-start: 0;

    ul.task-list {
      padding-inline-start: 1rem;
    }
  }
}

li {
  margin-block: 0.5rem;

  ul {
    margin: 0;
  }

  li {
    margin-block: 0.4rem;
  }

  p {
    margin-block: 0.4em;
  }
}

dl {
  margin: 0.7rem 0;

  dt {
    font-weight: bold;
    margin-block-start: 0.6rem;
  }

  dd {
    margin-block: 0.3em;
    margin-inline: 1em 0;
    line-height: 1.3em;
    position: relative;

    p {
      margin-block: 0.3em;
    }

    &::before {
      content: ":";
      color: #ccc;
      position: absolute;
      left: -0.8em;
    }
  }
}

table {
  border-spacing: 1em 1ex;

  thead th {
    border-bottom: 0.05rem solid var(--canvas-text);
  }
}

cite {
  color: #777;
  font-size: 0.7rem;

  a {
    color: inherit;
  }
}

figure {
  display: inline-block;
  margin: 1rem 0;
  line-height: 1;
}

figcaption {
  text-align: right;
}

em {
  font-style: italic;
}

pre {
  font-size: 0.78em;
  line-height: 1.35;
  &.chroma {
    line-height: 1.4;
  }
}

aside {
  opacity: 0.5;
}
