h1 {
  font-size: 1.4rem;
  margin: 0 -1.6rem;
  padding: 0.8rem 0.8rem;
  border-inline-start: 0.8rem solid #aaa;
}

h2 {
  font-size: 1.4rem;
  margin: 0 -1.6rem;
  padding: 0.4rem 0.8rem;
  border-inline-start: 0.8rem solid #ccc;
}

h3 {
  font-size: 1.3rem;
  margin: 1.2rem 0;
}
