:root {
  --emoji: "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Sans Emoji";
  --serif: "Palatino Linotype", Palatino, serif, var(--emoji);
  --sans-serif: system-ui, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", Helvetica, "Yu Gothic Medium", "Source Han Sans JP", sans-serif, var(--emoji);
  --monospace: Menlo, Consolas, "DejaVu Sans Mono", "Yu Gothic Medium", monospace, var(--emoji);
  --main-font-family: var(--sans-serif);
  --heading-font-family: var(--sans-serif);

  --background-color: #fff;
  --main-color: #444;
  --heading-color: var(--main-color);
}
