@charset "utf-8";

@use "variable";
@use "chroma";
@use "common";
@use "slide";
@use "class";

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  color: var(--main-color);
  margin: 0;
  line-height: 1.4;
  font-family: var(--main-font-family);
}

main {
  background-color: var(--foreground-color);
  box-shadow: 0 0 12px #999;
  max-width: 720px;
  min-height: 100%;
  margin: 0 auto;
  padding: 3rem;
}

hr {
  margin: 2rem;
}
