@charset "utf-8";

@import "variable";
@import "chroma";

html {
  font-size: 160%;
}

body {
  color: var(--main-color);
  font-family: var(--main-font-family);
}

.remark-container {
  background-color: var(--background-color);
}

.remark-slide-scaler {
  overflow-y: scroll;
  box-shadow: 0 0 12px #999;
}

.remark-slide-content {
  @import "common";
  @import "slide";
  @import "class";

  background-color: var(--foreground-color);
  font-size: inherit;
  padding: 0 1.6rem;
}

.remark-notes-area {
  font-size: 62.5%;
}

.title-background-gif {
  position: relative;
  z-index: 42;

  &::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-image: url("/figures/title-background.gif");
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 40%;
    opacity: 1;
  }
}
