@charset "utf-8";

@use "variable";
@use "chroma";
@use "common";
@use "slide";
@use "class";

section {
  background-color: var(--foreground-color);
  box-sizing: border-box;
  padding: 0 1.6rem;
  height: 100%;
  overflow-y: auto;
}

.reveal {
  font-family: var(--main-font-family);
  color: var(--main-color);
  line-height: 1.55;

  .backgrounds {
    background-color: var(--background-color);
  }

  .slides {
    text-align: left;
    box-shadow: 0 0 0.4em #999;
  }

  .controls {
    right: 0;
    font-size: 8px;

    .navigate-left {
      transform: translate(2em);
    }
  }

  .slide-number {
    bottom: 1px;
    right: 4px;
    opacity: 0.66;
    font-family: var(--main-font-family);
    color: var(--main-color);
    background: none;
  }
}

.fragment.bold.visible {
  font-weight: bold;
}
