@charset "utf-8";

@use "common";
@use "slide";
@use "class";

.reveal-viewport {
  background-color: var(--background-color);
  color: var(--canvas-text);
}

section {
  background-color: var(--canvas);
  padding: 0 1.6rem;
  height: 100%;
  overflow-y: auto;
}

.reveal {
  line-height: 1.55;

  .slides {
    text-align: unset;
    box-shadow: 0 0 0.4em #999;
  }

  .controls {
    right: 0;
    font-size: 8px;

    .navigate-left {
      transform: translate(2em);
    }
  }

  .slide-number {
    bottom: 1px;
    right: 4px;
    opacity: 0.66;
    font-family: unset;
    color: unset;
    background: unset;
  }
}

.scrollbar {
  --r-overlay-element-bg-color: 128, 128, 128;
  --r-overlay-element-fg-color: 128, 128, 128;
}

.scroll-page {
  border-block-start: 0.9px solid hsl(0deg 0% 55% / 55%);
}

.fragment {
  &.bold.visible {
    font-weight: bold;
  }
  &.blur {
    filter: blur(0.25em);
    &.visible {
      filter: none;
    }
  }
}
