{{ define "stylesheet" }}
<link rel="stylesheet" href="{{ "reveal.js/css/reveal.css" | relURL }}">
<link rel="stylesheet" href="{{ "reveal-theme.css" | relURL }}">
{{ end }}
{{ define "body" }}
<div class="reveal">
<div class="slides">
{{- range (split .RawContent "\n\n---") -}}
{{ $parts := (split . "\n???") }}
<section>
{{ index $parts 0 | markdownify -}}
{{ if and $.Page.Draft (gt (len $parts) 1) -}}
<aside class="notes">
{{ index $parts 1 | markdownify }}
</aside>{{ end }}
</section>{{ end }}
</div><!-- .slides -->
</div><!-- .reveal -->
{{ partialCached "reveal-initialize.html" . }}
{{ end }}
