{{ define "stylesheet" -}}
<link rel="stylesheet" href="{{ `lib/reveal.js/reveal.css` | relURL }}">
{{ end }}
{{ define "body" }}
<div class="reveal">
<div class="slides">
{{- range (split .RawContent "\n\n---") -}}
{{ $parts := (split . "\n???") }}
<section>
{{ index $parts 0 | markdownify -}}
{{ if and $.Site.BuildDrafts (gt (len $parts) 1) -}}
<aside class="notes">
{{ index $parts 1 | markdownify }}
</aside>{{ end }}
</section>{{ end }}
</div><!-- .slides -->
</div><!-- .reveal -->
<script src="{{ `lib/reveal.js/reveal.js` | relURL }}"></script>
<script src="{{ `lib/reveal.js/plugin/notes.js` | relURL }}"></script>
<script>
Reveal.initialize({
  width: 960,
  height: 720,
  margin: 0,
  controls: true,
  controlsLayout: 'bottom-right',
  controlsTutorial: false,
  controlsBackArrows: 'faded',
  progress: false,
  slideNumber: 'c/t',
  showSlideNumber: 'all',
  hashOneBasedIndex: true,
  hash: true,
  history: false,
  keyboard: true,
  disableLayout: false,
  overview: true,
  center: false,
  touch: true,
  loop: false,
  rtl: false,
  navigationMode: 'linear',
  shuffle: false,
  fragments: true,
  fragmentInURL: true,
  embedded: false,
  help: true,
  pause: false,
  showNotes: false,
  autoPlayMedia: null,
  preloadIframes: null,
  mouseWheel: false,
  previewLinks: false,
  transition: 'none',
  transitionSpeed: 'fast',
  backgroundTransition: 'none',
  pdfMaxPagesPerSlide: 1,
  pdfSeparateFragments: false,
  viewDistance: 2,
  plugins: [ RevealNotes ]
});
</script>
{{ end }}
