<!DOCTYPE html>
<html{{ with .Site.LanguageCode }} lang="{{ . }}"{{ end }}>
<head prefix="og: http://ogp.me/ns#">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
<title>{{ .Title }}{{ with .Params.subtitle }} - {{ . }}{{ end }}</title>
{{- with $.Param "author.name" }}
<meta name="author" content="{{ . }}">{{ end }}
{{ partial "ogp.html" . -}}
{{ partialCached "twittercard.html" . -}}
{{ partialCached "google_analytics.html" . -}}
{{ block "head" . -}}
{{ end -}}
{{ partialCached "katex.html" . -}}
{{ partialCached "iconify.html" . -}}
<script defer src="{{ `lib/reload-img-onclick.js` | relURL }}"></script>
{{ partialCached "sass.html" . .Type .IsPage -}}
{{ with $.Param "css" -}}
<link rel="stylesheet" href="{{ . }}">
{{ end -}}
</head>
<body>{{ block "body" . -}}{{ end -}}
</body>
</html>
