<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title>{{ .Title }}</title>
<link rel="stylesheet" href="/reveal.js/css/reveal.css">
<link rel="stylesheet" href="/reveal.js/lib/css/zenburn.css">
<link rel="stylesheet" href="/reveal-theme.css">
{{ partial "mathjax.html" . }}
</head>
<body>
<div class="reveal">
<div class="slides">{{ range (split .RawContent "\n---") }}
{{ $v := (split . "\n???") }}
<section>
{{ index $v 0 | markdownify }}
{{ if gt (len $v) 1 }}<aside class="notes">{{ index $v 1 }}</aside>{{ end }}
</section>{{ end }}
</div><!-- slides -->
</div><!-- reveal -->
<script src="/reveal.js/lib/js/head.min.js"></script>
<script src="/reveal.js/js/reveal.js"></script>
<script>
Reveal.initialize({
  controls: false,
  progress: false,
  slideNumber: 'c/t',
  history: true,
  center: false,
  transition: 'none',
  transitionSpeed: 'fast',
  backgroundTransition: 'none',
  dependencies: [
    { src: '/reveal.js/plugin/notes/notes.js', async: true },
    { src: '/reveal.js/plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } }
  ]
});
</script>
</body>
</html>
