<script src="{{ "remark.min.js" | relURL }}"></script>
<script>
{
const slideshow = remark.create({
  ratio: '4:3',
  navigation: {
    scroll: false,
    touch: true,
    click: false
  },
  slideNumberFormat: function (current, total) {
    // hide in title slide; start from 1
    if (1 < current && current < total) {
      return (current - 1) + '/' + (total - 1);
    } else {
      return '';
    };
  },
  countIncrementalSlides: false,
  highlightLanguage: "no-highlight"
});
const slide_elements = document.querySelectorAll('.remark-slide');
slideshow.on('afterShowSlide', function(slide) {
  const this_slide = slide_elements[slide.getSlideIndex()];
  const img_elements = this_slide.getElementsByTagName('img');
  for (let i = 0; i < img_elements.length; ++i) {
    img_elements[i].click();
  }
});
};
</script>
