<script src="{{ "reveal.js/lib/js/head.min.js" | relURL }}"></script>
<script src="{{ "reveal.js/js/reveal.js" | relURL }}"></script>
<script>
Reveal.initialize({
  width: 960,
  height: 720,
  margin: 0,
  controls: true,
  controlsTutorial: false,
  controlsBackArrows: 'faded',
  progress: false,
  slideNumber: 'c/t',
  history: false,
  keyboard: true,
  overview: true,
  center: false,
  touch: true,
  loop: false,
  rtl: false,
  shuffle: false,
  fragments: false,
  fragmentInURL: false,
  embedded: false,
  help: true,
  showNotes: false,
  mouseWheel: false,
  transition: 'none',
  transitionSpeed: 'fast',
  backgroundTransition: 'none',
  viewDistance: 1,
  dependencies: [
    { src: '{{ "reveal.js/plugin/notes/notes.js" | relURL }}', async: true }
  ]
});
</script>
