<script src="/reveal.js/lib/js/head.min.js"></script>
<script src="/reveal.js/js/reveal.js"></script>
<script>
Reveal.initialize({
  width: 960,
  height: 720,
  margin: 0,
  controls: false,
  controlsTutorial: false,
  progress: false,
  slideNumber: 'c/t',
  history: false,
  center: false,
  embedded: false,
  transition: 'none',
  transitionSpeed: 'fast',
  backgroundTransition: 'none',
  viewDistance: 1,
  dependencies: [
    { src: '/reveal.js/plugin/notes/notes.js', async: true }
  ]
});
</script>
