@charset "UTF-8";
.chroma .err,
.chroma .w,
.chroma .n,
.chroma .o,
.chroma .p {
  color: #444;
}

.chroma .k,
.chroma .kd,
.chroma .kn,
.chroma .kp,
.chroma .kr,
.chroma .ow {
  color: #d73a49;
}

.chroma .kc,
.chroma .kt,
.chroma .no,
.chroma .nd,
.chroma .ni,
.chroma .nn,
.chroma .vc,
.chroma .vg,
.chroma .vi,
.chroma .vm {
  color: #005cc5;
}

.chroma .na,
.chroma .nc,
.chroma .nf,
.chroma .nv,
.chroma .nx {
  color: #6f42c1;
}

.chroma .nb,
.chroma .bp,
.chroma .ne,
.chroma .nl,
.chroma .nt {
  color: #22863a;
}

.chroma .s,
.chroma .sa,
.chroma .sb,
.chroma .sc,
.chroma .dl,
.chroma .sd,
.chroma .s2,
.chroma .se,
.chroma .sh,
.chroma .si,
.chroma .sx,
.chroma .sr,
.chroma .s1,
.chroma .ss {
  color: #032f62;
}

.chroma .m,
.chroma .mb,
.chroma .mf,
.chroma .mh,
.chroma .mi,
.chroma .il,
.chroma .mo {
  color: #005cc5;
}

.chroma .c,
.chroma .ch,
.chroma .cm,
.chroma .c1,
.chroma .cs,
.chroma .cp,
.chroma .cpf {
  color: #6a737d;
}

.chroma .ge {
  font-style: italic;
}

.chroma .gs {
  font-weight: bold;
}

.chroma .gh,
.chroma .gu {
  color: #000;
}

.chroma .gd,
.chroma .gr,
.chroma .gi,
.chroma .go,
.chroma .gp,
.chroma .gt,
.chroma .x {
  color: #d70;
}

.chroma .ln {
  margin-right: 0.4em;
  padding: 0 0.4em;
}

@font-face {
  font-family: "Yu Gothic Medium";
  src: local("Yu Gothic Medium");
  font-weight: normal;
}

@font-face {
  font-family: "Yu Gothic Medium";
  src: local("Yu Gothic Bold");
  font-weight: bold;
}

a {
  color: #0042ab;
  text-decoration: none;
}

a:hover {
  opacity: 0.86;
  text-decoration: underline;
}

h1,
h2,
h3 {
  font-family: "Helvetica Neue", "Segoe UI", Helvetica, "Yu Gothic Medium", sans-serif;
  font-weight: bold;
  color: #444;
}

h1 {
  font-size: 1.4rem;
  margin: 2rem 0 2.4rem;
}

h2 {
  font-size: 1.4rem;
  margin: 1rem 0 1.2rem;
}

h3 {
  font-size: 1.3rem;
  margin: 1.2rem 0;
}

ol {
  margin: 0.8rem 0;
  padding-left: 1.5rem;
}

ul {
  margin: 0.8rem 0;
  padding-left: 1.3rem;
}

ul.task-list {
  list-style-type: none;
  padding-left: 0;
}

ul.task-list ul.task-list {
  padding-left: 1rem;
}

li {
  margin-bottom: 0.4rem;
}

dt {
  font-weight: bold;
  margin: 0.5rem 0 0 0;
}

dd {
  margin: 0 0 0 1rem;
}

blockquote {
  font-style: italic;
  margin: 1rem 3px;
  padding: 6px 36px 1px;
  border-left: solid 5px #ccc;
  position: relative;
}

blockquote::before {
  content: "“";
  position: absolute;
  top: -8px;
  left: 8px;
  font-size: 2.4rem;
  font-family: Palatino, Merriweather, serif;
  color: #999;
}

figure {
  display: inline-block;
  position: relative;
}

figcaption {
  position: absolute;
  right: 0;
}

em {
  font-style: italic;
}

pre,
code,
kbd {
  font-family: Menlo, Consolas, "DejaVu Sans Mono", "Yu Gothic Medium", monospace;
}

code {
  background-color: #f7f7f7;
  background-color: rgba(0, 0, 0, 0.05);
  padding: 2px 4px;
  font-size: 0.87em;
}

pre {
  background-color: #f3f3f3;
  padding: 0.5rem;
  margin: -0.6rem 0 0.6rem;
  font-size: 0.9rem;
  line-height: 1.2;
  overflow-x: auto;
}

pre code {
  background: none;
  padding: 0;
}

pre.chroma {
  background-color: #e3e3e3;
  margin-top: 0.2rem;
}

kbd {
  display: inline-block;
  vertical-align: middle;
  font-size: 0.75rem;
  padding: 1px 4px;
  margin: -4px 2px 0 0;
  box-shadow: 1px 1px 1px #808080;
  border: solid 1px #ccc;
  border-radius: 3px;
}

.author {
  font-weight: bold;
  font-size: 1.1rem;
  margin: 2rem 0 1rem;
}

.affiliation {
  font-size: 1.1rem;
  margin: 1rem 0 2rem;
}

.footnote {
  margin: 3rem 0 0;
}

.github {
  color: #444;
}

.facebook {
  color: #3b5998;
}

.twitter {
  color: #1da1f2;
}

.cite {
  color: #666;
  font-size: 0.75rem;
  text-align: right;
}

.url {
  color: #666;
  font-size: 0.45rem;
}

.readmore {
  padding: 8px 48px 8px 20px;
  border-radius: 4px;
  font-weight: normal;
  color: #fff;
  background-color: #aaa;
  position: relative;
}

.readmore:hover {
  background-color: #444;
  text-decoration: none;
}

.readmore::after {
  content: "❯";
  position: absolute;
  right: 12px;
  color: #fff;
}

.screenshot {
  margin: -24px -30px;
}

.column-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.column {
  flex: 1 1 100%;
  margin: 0 0.5rem;
}

.column:first-child {
  margin-left: 0;
}

.column:last-child {
  margin-right: 0;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  background-color: #ddd;
  color: #444;
  margin: 0;
  line-height: 1.4;
  font-family: "Helvetica Neue", "Segoe UI", Helvetica, "Yu Gothic Medium", sans-serif;
}

main {
  background-color: #fff;
  max-width: 720px;
  min-height: 100%;
  margin: 0 auto;
  padding: 3rem;
}

hr {
  margin: 2rem;
}
