@charset "UTF-8";
.chroma .err,
.chroma .w,
.chroma .n,
.chroma .o,
.chroma .p {
  color: #444;
}

.chroma .k,
.chroma .kd,
.chroma .kn,
.chroma .kp,
.chroma .kr,
.chroma .ow {
  color: #d73a49;
}

.chroma .kc,
.chroma .kt,
.chroma .no,
.chroma .nd,
.chroma .ni,
.chroma .nn,
.chroma .vc,
.chroma .vg,
.chroma .vi,
.chroma .vm {
  color: #005cc5;
}

.chroma .na,
.chroma .nc,
.chroma .nf,
.chroma .nv,
.chroma .nx {
  color: #6f42c1;
}

.chroma .nb,
.chroma .bp,
.chroma .ne,
.chroma .nl,
.chroma .nt {
  color: #22863a;
}

.chroma .s,
.chroma .sa,
.chroma .sb,
.chroma .sc,
.chroma .dl,
.chroma .sd,
.chroma .s2,
.chroma .se,
.chroma .sh,
.chroma .si,
.chroma .sx,
.chroma .sr,
.chroma .s1,
.chroma .ss {
  color: #032f62;
}

.chroma .m,
.chroma .mb,
.chroma .mf,
.chroma .mh,
.chroma .mi,
.chroma .il,
.chroma .mo {
  color: #005cc5;
}

.chroma .c,
.chroma .ch,
.chroma .cm,
.chroma .c1,
.chroma .cs,
.chroma .cp,
.chroma .cpf {
  color: #6a737d;
}

.chroma .ge {
  font-style: italic;
}

.chroma .gs {
  font-weight: bold;
}

.chroma .gh,
.chroma .gu {
  color: #000;
}

.chroma .gd,
.chroma .gr,
.chroma .gi,
.chroma .go,
.chroma .gp,
.chroma .gt,
.chroma .x {
  color: #d70;
}

.chroma .ln {
  margin-right: 0.4em;
  padding: 0 0.4em;
}

html {
  font-size: 160%;
}

body {
  color: #444;
  font-family: Palatino, Merriweather, serif;
}

.remark-slide-scaler {
  overflow-y: scroll;
}

.remark-slide-content {
  background-color: #fff;
  font-size: inherit;
  padding: 0 1.8rem;
}

@font-face {
  .remark-slide-content {
    font-family: "Yu Gothic Medium";
    src: local("Yu Gothic Medium");
    font-weight: normal;
  }
}

@font-face {
  .remark-slide-content {
    font-family: "Yu Gothic Medium";
    src: local("Yu Gothic Bold");
    font-weight: bold;
  }
}

.remark-slide-content a {
  color: #0042ab;
  text-decoration: none;
}

.remark-slide-content h1,
.remark-slide-content h2,
.remark-slide-content h3 {
  font-family: Palatino, Merriweather, serif;
  font-weight: bold;
  color: #444;
}

.remark-slide-content h1 {
  font-size: 1.4rem;
  margin: 3rem 0;
}

.remark-slide-content h2 {
  font-size: 1.4rem;
  margin: 1.3rem 0 1.4rem;
}

.remark-slide-content h3 {
  font-size: 1.3rem;
  margin: 1.2rem 0 0;
}

.remark-slide-content ul {
  margin: 0.8rem 0;
  padding-left: 1rem;
}

.remark-slide-content ul.task-list {
  list-style-type: none;
  padding-left: 0;
}

.remark-slide-content ul.task-list ul.task-list {
  padding-left: 1rem;
}

.remark-slide-content li {
  margin-bottom: 0.5rem;
}

.remark-slide-content dt {
  font-weight: bold;
  margin: 0.5rem 0 0 0;
}

.remark-slide-content dd {
  margin: 0 0 0.1rem 1rem;
}

.remark-slide-content blockquote {
  font-style: italic;
  margin: 8px 3px;
  padding: 6px 36px 1px;
  border-left: solid 5px #ccc;
  position: relative;
}

.remark-slide-content blockquote::before {
  content: "“";
  position: absolute;
  top: -8px;
  left: 8px;
  font-size: 2.4rem;
  font-family: Palatino, Merriweather, serif;
  color: #999;
}

.remark-slide-content em {
  font-style: italic;
}

.remark-slide-content pre,
.remark-slide-content code,
.remark-slide-content kbd {
  font-family: Menlo, Consolas, "DejaVu Sans Mono", monospace, "Yu Gothic Medium";
}

.remark-slide-content code {
  background-color: #f7f7f7;
  background-color: rgba(0, 0, 0, 0.05);
  padding: 2px 4px;
  font-size: 0.87em;
}

.remark-slide-content pre {
  background-color: #f3f3f3;
  padding: 0.5rem;
  margin: -0.6rem 0 0.6rem;
  font-size: 0.9rem;
  line-height: 1.2;
  overflow-x: auto;
}

.remark-slide-content pre code {
  background: none;
  padding: 0;
}

.remark-slide-content pre.chroma {
  background-color: #e3e3e3;
  margin-top: 0.2rem;
}

.remark-slide-content .author {
  font-weight: bold;
  font-size: 1.1rem;
  margin: 1rem 0;
}

.remark-slide-content .affiliation {
  font-size: 1.1rem;
}

.remark-slide-content .footnote {
  position: absolute;
  bottom: 1rem;
}

.remark-slide-content .cite {
  color: #666;
  font-size: 0.75rem;
  text-align: right;
}

.remark-slide-content .column-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.remark-slide-content .column {
  flex: 1 1 100%;
  margin: 0 0.5rem;
}

.remark-slide-content .column:first-child {
  margin-left: 0;
}

.remark-slide-content .column:last-child {
  margin-right: 0;
}

.remark-notes-area {
  font-size: 62.5%;
}

.title-background-gif {
  position: relative;
  z-index: 42;
}

.title-background-gif::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background-image: url("/figures/title-background.gif");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 40%;
  opacity: 1;
}
