html {
  font-size: 150%;
}

body {
  background-color: #ddd;
}

.reveal {
  font-family: Palatino, Merriweather, serif;
  font-weight: normal;
  color: #444;
}

.reveal h1,
.reveal h2,
.reveal h3 {
  font-family: Palatino, Merriweather, serif;
  font-weight: bold;
  color: #444;
}

.reveal h1 {
  font-size: 1.5rem;
  margin: 3rem 0 2rem;
}

.reveal h2 {
  font-size: 1.5rem;
  margin: 1.5rem 0;
}

.reveal h3 {
  font-size: 1.2rem;
}

.reveal p {
  margin: 1rem 0;
}

.reveal pre,
.reveal code,
.reveal kbd {
  font-family: "Ubuntu Mono", "DejaVu Sans Mono", Menlo, Consolas, monospace;
}

.reveal .slides {
  background-color: #fff;
  text-align: left;
}

.reveal .slides section {
  box-sizing: border-box;
  padding: 0 2rem;
  width: inherit;
  height: 100%;
}

.reveal .author {
  font-weight: bold;
  font-size: 1.2rem;
}

.reveal .affiliation {
  font-size: 1.1rem;
}

.reveal .footnote {
  position: absolute;
  bottom: 1rem;
}

.cite {
  color: #777;
  font-size: 0.75rem;
  text-align: right;
}

.column-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.column {
  flex: 1 1 100%;
  margin: 0 0.5rem;
}

.column:first-child {
  margin-left: 0;
}

.column:last-child {
  margin-right: 0;
}
